[meta]
version = BETA_1_1_0

[fonts]
font = /usr/share/fonts/CascadiaMono/CaskaydiaCoveNerdFontMono-Regular.ttf
font = /usr/share/fonts/noto/NotoSansMono-Regular.ttf
font = /usr/share/fonts/liberation/LiberationMono-Regular.ttf
font = /usr/share/fonts/CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf

[windows default mono]
font = C:\Windows\Fonts\consola.ttf

[fallback unix fonts]
font = /usr/share/fonts/truetype/dejavu/DejaVuSansMono.ttf
font = /usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf
font = /usr/share/fonts/truetype/ubuntu/UbuntuMono-R.ttf

[macos fonts]
font = /System/Library/Fonts/Menlo.ttc

[user interface]
font_base_px = 20
small_text_scale = .7
normal_text_scale = .8
large_text_scale = 1
buffer_text_scale = .8
line_thickness_em = 0.05
line_count_padding_em = .5
cursor_edge_padding_em = 10
ui_scale = 1
theme = default

[cursor]
do_animate_cursor = true
do_constrain_cursor_to_scroll = false

[buffer]
do_highlight_long_lines = true
long_line_required_characters = 80
do_draw_line_count = true
do_highlight_current_line = false
do_highlight_indents = true
differentiate_tab_and_spaces = true
do_highlight_current_line = true

[indent]
indent_size = 4
indent_mode = spaces
[how many spaces = one tab]
tab_width = 4

[general]
default_cwd = $HOME
always_loaded_characters = abcdefghijklmnopqrstuvwxyz1234567890()[]{},.-;:_!"#%&/?'$|<>
delimiter_runes =  ()[]{}'?!|/+:~^*`&=*`´§,.-";\<>

[search]
search_ignored_dir = node_modules
search_ignored_dir = .git



[input, reference: https://www.glfw.org/docs/3.3/group__keys.html]
move_up = k
move_down = j
move_left = d
move_right = f

move_forward_word = u
move_backward_word = r

toggle_yank_history_mode = s
toggle_highlight_mode = v
toggle_help_mode = f1
toggle_buffer_info = q

[shift for file-scope, non-shift for line-scope]
go_to_end = a
go_to_start = z

enter_insert_mode = i
enter_grep_search_mode = m
enter_search_mode = g
enter_file_browser_mode = o
enter_go_to_line_mode = n
enter_find_and_replace_mode = h

next_file = comma
previous_file = m

[these require ctrl + shift + key to use]
reload_file = r
close_file = w

go_to_definition = period

[autocomplete, these require ctrl + key to use]
previous_completion = w
next_completion = e
insert_completion = r

[ctrl + key = copy to clipboard]
[key = copy to yank buffer]
yank = y

cut = c
delete = x

[ctrl + key required]
set_cwd = s
delete_file = d
rename_file = f
create_file = g

[ctrl + key = paste from clipboard]
paste = p

inject_line = l

[ctrl + key required]
go_back = b

undo = x
redo = c

indent = e
unindent = w

[used for most things like leaving the file browser]
escape = escape

[quits the program]
exit = f10

[this requires ctrl + key]
toggle_terminal = t

enter_terminal_insert_mode = i
exit_terminal_insert_mode = escape