[fonts]
font = /usr/share/fonts/CascadiaMono/CaskaydiaCoveNerdFontMono-Regular.ttf
font = /usr/share/fonts/noto/NotoSansMono-Regular.ttf
font = /usr/share/fonts/liberation/LiberationMono-Regular.ttf
font = /usr/share/fonts/CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf

[user interface]
font_base_px = 20

small_text_scale = .7
normal_text_scale = .8
large_text_scale = 1
buffer_text_scale = .8
line_thickness_em = 0.05
line_count_padding_em = .5
cursor_edge_padding_em = 5

ui_scale = 1

[cursor]

do_animate_cursor = true
do_constrain_cursor_to_scroll = true

[buffer]
do_highlight_long_lines = true
long_line_required_characters = 80
do_draw_line_count = true
do_highlight_current_line = false
do_highlight_indents = true
differentiate_tab_and_spaces = true

tab_spaces = 4
do_highlight_current_line = true

[general]
default_cwd = /home/v/prog/projects/koderum
always_loaded_characters = abcdefghijklmnopqrstuvwxyz1234567890()[]{},.-;:_!"#%&/?'$|
delimiter_runes =  ()[]{}'?!|/+:~^*`&=*`´§,.-";

[search]
search_ignored_dir = node_modules
search_ignored_dir = .git
