[fonts]
font = /usr/share/fonts/liberation/LiberationMono-Regular.ttf
font = /usr/share/fonts/CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf

ui_general_font_size = 20
ui_smaller_font_size = 16
ui_bigger_font_size = 30

buffer_font_size = 24


[cursor]
cursor_edge_padding = 200
do_animate_cursor = true

[buffer]
do_highlight_long_lines = true
long_line_required_characters = 80
do_draw_line_count = true
do_highlight_current_line = false
do_highlight_indents = true
differentiate_tab_and_spaces = true
tab_spaces = 4


[general]
default_cwd = /home/v/prog/projects/text-editor

[color]
BG_MAIN_10 = 2F243AFF
BG_MAIN_20 = 3D2F4BFF
BG_MAIN_30 = 473758FF
BG_MAIN_40 = 513B3BFF
BG_MAIN_50 = 694C4CFF

TEXT_MAIN = F1E4E8FF
TEXT_DARKER = F1E4E8FF

COLOR_1 = F06449FF
COLOR_2 = ADFF88FF
COLOR_3 = A7A6B5FF
COLOR_4 = EDF060FF
COLOR_5 = FF9442FF
COLOR_6 = 50F7D5FF

RED 
GREEN 
GRAY 
YELLOW 
ORANGE 
CYAN 

